.title {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #934fff;
  text-align: center; /* Center the title */
}

@media (max-width: 1024px) {
  .title {
    font-size: 1.75rem; /* Adjusted for landscape orientation */
    text-align: center; /* Ensure it's centered */
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem; /* Adjusted for portrait orientation and smaller devices */
    text-align: center; /* Ensure it's centered */
  }
}

.subtitle {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 1024px) {
  .subtitle {
    font-size: 0.8rem; /* Adjusted for landscape orientation */
  }
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 1rem; /* Adjusted for portrait orientation and smaller devices */
  }
}

.footer {
  text-align: center;
  padding: 0.2rem;
  background-color: #934fff; /* Adjust this color as needed */
  color: white; /* Adjust text color as needed */
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
