@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: rgb(13,5,49);
  background: linear-gradient(21deg, rgba(13,5,49,1) 0%, rgba(0,0,0,1) 100%); 
  min-height: 100vh;
  display: grid;
}
